.restaurant-card {
  width: 36rem;
  display: flex;
  height: 17.25rem;

  &__image {
    width: 32%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    width: 68%;
  }

  &__content-top {
    padding: var(--size-16) 1.5rem;
    background-color: white;
    height: 62%;
  }

  &__content-bottom {
    padding: var(--size-16) 1.5rem;
    background-color: var(--grey-050);
    height: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__info {
    color: var(--secondary-content-color);
    font-size: var(--font-size-14);
    margin-bottom: var(--size-8);
    margin-top: 0.125rem;

    > * {
      max-width: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
    }
  }

  &__info-separator {
    margin: 0 var(--size-8);
  }

  &__description {
    color: var(--primary-content-color);
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.45;
  }

  &__book-columns {
    display: flex;
    align-items: center;
  }

  &__book-info {
    flex: 1;
    font-size: var(--font-size-14);
    color: var(--secondary-content-color);
  }

  &__price-range {
    font-weight: bold;
  }

  &__book-count {
    font-size: var(--font-size-14);
    color: var(--secondary-content-color);
  }

  &__book-icon {
    color: var(--cyan-vivid-500);
  }
}
